@import "tailwindcss";

/* definimos variables en root para que estén disponibles de forma global */
:root {
  --background: #f6f6fd;
  --color-primary: #00a63e;
  --color-secondary: #fe9a00;
}
/* re definimos variables según contexto, como modo oscuro */
.dark{
  --color-primary: #0c1ccc;
  --color-secondary: #eec07c;
}

/* definimos variables con tailwind */
@theme inline { 
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f6fd;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} 

/* estilos personalizados */

.btn-hover{
  transition: 0.9s;
}
.btn-hover:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
}

.input{
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  /* color: black; */
  padding-left: 10px;
  font-size: 16px;
}

.primary-btn{
  width: 100%;
  height: 100%;
  background-color: #00A63E;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 16px; */
}

.hover-primary{
  cursor: pointer;
  transition: 0.3s;
}
.hover-primary:hover{
  /* background-color: #e7fff0; */
  background-color: #f4e8ff;
  transition: 0.3s;
}

